#Options -Indexes  # bac 20140311 Can't turn it off but you can set it to nothing 
DirectoryIndex

# Use the content from the WordPress site rather than local
RewriteEngine On
RewriteRule ^$ http://www.earth2observe.eu/?page_id=4542 [P]

