
RewriteEngine On

RewriteCond %{REQUEST_URI} ^/plotting/.*
RewriteRule plotting/(.*) http://localhost:8112/$1 [P]

# proxy /thredds to tomcat
# this header tell nginx to connect to tomcat on the secure port and so return https:// urls
RequestHeader add X-Vortices "secure"

# thredds
# This rewrite ensures that the main thredds catalog cannot be viewed, only the project specific catalog
RewriteCond %{REQUEST_URI} ^/thredds/catalog.html$
RewriteRule thredds http://vortices.npm.ac.uk/thredds/catalog-earth2observe.html [P]

RewriteCond %{REQUEST_URI} ^/thredds.*
RewriteRule thredds(.*) http://vortices.npm.ac.uk/thredds$1 [P]

# thredds restricted access instance
RewriteCond %{REQUEST_URI} ^/thredds-restricted.*
RewriteRule thredds-restricted(.*) http://vortices.npm.ac.uk/thredds-restricted$1 [P]

# WMS
RewriteCond %{REQUEST_URI} ^/wms.*
RewriteRule wms(.*) http://vortices.npm.ac.uk/thredds/wms$1 [P]

#WCS
RewriteCond %{REQUEST_URI} ^/wcs.*
RewriteRule wcs(.*) http://vortices.npm.ac.uk/thredds/wcs$1 [P]

#OPeNDAP
RewriteCond %{REQUEST_URI} ^/opendap.*
RewriteRule opendap(.*) http://vortices.npm.ac.uk/thredds/opendap$1 [P]


# Use the content from the WordPress site rather than local
RewriteRule ^$ http://www.earth2observe.eu/?page_id=4542 [P]


